
<div class="header pt-5 ">
    <button>
      <a class="page-link" href="/plant-list" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </button>
     <h1>{{titulo}}</h1> 
</div>


<div class="bg-image">

    <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg></span>
      

      <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512"><path fill="currentColor" d="M184 48h144c4.4 0 8 3.6 8 8v40H176V56c0-4.4 3.6-8 8-8zm-56 8v424h256V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM96 96H64c-35.3 0-64 28.7-64 64v256c0 35.3 28.7 64 64 64h32V96zm320 384h32c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64h-32v384zM224 208c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16v32c0 8.8-7.2 16-16 16h-48v48c0 8.8-7.2 16-16 16h-32c-8.8 0-16-7.2-16-16v-48h-48c-8.8 0-16-7.2-16-16v-32c0-8.8 7.2-16 16-16h48v-48z"/></svg></span>


      <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
      </svg></span>

      

      <p class="text">Nombre latin:{{plants.latinName}}</p>

    

 <div class="container-fluid ">
    <p><label for="info">Información general:</label></p>

<textarea id="w3review" name="w3review" rows="100" cols="70">
Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Dolore ipsum deserunt corporis ipsam repellendus ab totam vero provident dolorem numquam repudiandae, accusantium ex ipsa eius neque beatae atque voluptas praesentium ea ducimus illo eum! Consequatur ut sapiente nisi doloremque excepturi ipsa laudantium quae aliquam enim. 
Eos natus est ipsam sit facere perferendis, corporis animi, expedita minima nihil rem alias quaerat enim iusto assumenda doloremque, cupiditate consequuntur tenetur!
 Reiciendis exercitationem doloremque quo nulla cumque earum explicabo corrupti laboriosam autem vitae, cupiditate accusamus officiis porro maiores, voluptas maxime consequuntur nisi non, accusantium aperiam ipsa praesentium illo quam! Quaerat velit laboriosam atque libero!

 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto facilis optio id quia delectus dolor et ipsa voluptatum tempore iusto facere sed, vitae fugiat cupiditate enim provident non odio ea necessitatibus, asperiores accusamus. Harum provident doloremque enim. Culpa aspernatur, suscipit dolorem beatae sed fuga similique illo temporibus, sequi non magni aliquam!
  Quidem harum velit quisquam error in accusantium. Dolorum tempore, perspiciatis suscipit excepturi magnam consequatur debitis esse nemo commodi nihil iste facilis perferendis expedita accusantium amet et sapiente enim unde aut dolor. Minus quod corporis, ullam nesciunt rerum tempora vel iure numquam explicabo voluptatibus mollitia impedit fugiat, veniam corrupti sit.
</textarea>

</div>
</div>