
<div class="list-group">
    <p class="list-group-item list-group-item-action">A</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Alergia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Anemia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Angina de pecho</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Anorexia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Apnea del sueño</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Artritis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Asma</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Ateroesclerosis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Ansiedad</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Acné</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Apnea del sueño</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Artritis</a>
    
  </div>

  <div class="list-group">
    <p class="list-group-item list-group-item-action">B</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Bronquitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Bulimia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Bradicardia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Bruxismo</a>
  </div>

  <div class="list-group">
    <p class="list-group-item list-group-item-action">C</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Candidiasis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Cistitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Congestión nasal</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Conjuntivitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Cólon irritable</a>
  </div>

  <div class="list-group">
    <p class="list-group-item list-group-item-action">D</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Dermatitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Dismenorrea</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Dispepsia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Diabetes</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Diverticulosis</a>
  </div>

  <div class="list-group">
    <p class="list-group-item list-group-item-action">E</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Enfermedad de Crohn</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Estreñimiento</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Edema</a>
 </div>

 <div class="list-group">
    <p class="list-group-item list-group-item-action">F</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Fibromialgia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Faringitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Fiebre</a>
 </div>

 <div class="list-group">
    <p class="list-group-item list-group-item-action">G</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Gastritis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Gastroenteritis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Gota</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Gripe</a>
  </div>

  <div class="list-group">
    <p class="list-group-item list-group-item-action">H</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipertensión arterial</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipotensión arterial</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Herpes</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hemorroides</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hepatitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipoclorhidria</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hiperclorhidria</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipocolesterolemia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipercolesterolemia</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipotiroidismo</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hipertiroidismo</a>
  </div>

  <div class="list-group">
    <p class="list-group-item list-group-item-action">I</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Intolerancias</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Insomnio</a>
 </div>



 <div class="list-group">
    <p class="list-group-item list-group-item-action">M</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Migraña</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Menopausia</a>
 </div>


 <div class="list-group">
    <p class="list-group-item list-group-item-action">N</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Neumonía</a>
 </div>


 <div class="list-group">
    <p class="list-group-item list-group-item-action">P</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Palpitaciones cardíacas</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Psoriasis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Prostatitis</a>
 </div>


 <div class="list-group">
    <p class="list-group-item list-group-item-action">R</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Rinitis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Rosácea</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Reflujo gastroesofágico</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Resistencia a la insulina</a>

 </div>