

  .navbar{
     padding: 2rem;
     background-color: #1bd40b;

  }

  .navbar-collapse{
    align-items: center;
    justify-content: space-between;
    
  }

  .active{
    color: red;
  }

  .dropdown-menu{
    background-color: antiquewhite;
    border-color:black;
  }