
    
  <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <span><strong>Bienvenida/o, {{ usuario }}</strong></span>&nbsp;&nbsp;
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav d-flex justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/plant-list" routerLinkActive="active">Plantas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/illness-index" routerLinkActive="active">Dolencias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/consejos" routerLinkActive="active">Consejos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" routerLinkActive="active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tiendas con descuento
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item"  href="https://migreenclub.com/profesionales/natalia-salud-integral/" target="_blank" >GreenClub</a></li>
                <li><a class="dropdown-item" href="https://www.exialoe.es/?promoc=29785NM" target="_blank">Exialoe</a></li>
                </ul>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="https://nataliasaludintegral.com/artesanos-de-salud/" target="_blank" routerLinkActive="active">Blog</a>
            </li>
          </ul>
         
        </div>
       
      </div>
      
    </nav>
  
        
