#intro {
    background-image: url(../../../../assets/images/spring.jpg);
    height: 100vh;
  
  }

  .navbar{
    padding: 2rem;
    background-color: #1bd40b;
    justify-content: end;
    

 }

 .navbar-collapse{
   align-items: center;
   justify-content:end;
 }

 h3{
    color: white;
    text-align: center;
 }

 